<input
  type="text"
  [(ngModel)]="searchTerm"
  placeholder="Search course">

<button (click)="searchCourses()">
  Search
</button>

<br><br>

<p *ngIf="isLoading">
  Loading...
</p>

<p *ngIf="errorMessage">
  {{ errorMessage }}
</p>

<app-course-card
  *ngFor="let course of courses; trackBy: trackByCourseId"
  appHighlight="lightblue"
  [course]="{
    id: course.id,
    name: course.name,
    code: course.code,
    credits: course.credits,
    gradeStatus: course.gradeStatus
  }"
  (click)="goToCourse(course.id)"
  (enrollRequested)="onEnroll($event)">
</app-course-card>

<p *ngIf="selectedCourseId">
  Selected Course ID: {{ selectedCourseId }}
</p>